# Backend API URL — used for server-side fetching and API proxy
# API_URL=http://localhost:3000/api/v1
# API_URL=https://backend-memoir.vercel.app/api/v1
# API_URL=https://backend-memoir-development.up.railway.app/api/v1
API_URL=https://backend-memoir-production.up.railway.app/api/v1
